@using LF.Models;

@model ShowItemsVM

<h2>Hello from Item Grid </h2>

<p>@Model.Category</p>
<p>@Model.City</p>
<p>@Model.CreatedOn</p>
<p>@Model.Description</p>
<p>@Model.ImageLocation</p>
<p>@Model.IsLost</p>
<p>@Model.Region</p>
<p>@Model.Title</p>
<p>@Model.Size</p>
<p>@Model.RewardValue</p>

