@model LF.Models.CreateItemVM

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CustomCSS/itemView.css")" />
<div class="row main-content">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <div class="col-md-12" id="topMenu">
                @Html.ActionLink("Нова обява", "CreateItem", "Item", new { @class = "btn btn-primary" })
                @Html.ActionLink("Мои обяви", "MyItems", "Item", new { @class = "btn btn-success" })
            </div>
        }
    }
    <div id="inputSection" class="col-md-12">
        <div>
            <span id="filterMenu"><i class="fa fa-filter fa-4x" aria-hidden="true" onclick="openNav()"></i></span>
        </div>
        <div class="col-md-8">
            <input class="form-control input-lg" id="inputdefault" type="text" placeholder="Търсене">
        </div>
        <div class="col-md-1">
            <span class="btn btn-primary fa fa-search fa-2x" aria-hidden="true" id="searchBtn">Намери</span>
        </div>
    </div>
    <div id="itemGrid" class="col-md-9">
    </div>
    <div class="hotItems col-md-3 text-center">
    </div>
</div>

<div id="main">
    @{
        ViewBag.Title = "Обяви";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div id="grid" class="row">

    </div>
</div>

<script type="text/javascript">

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/customBundleScript")
}
@section MyScripts {
    <script type="text/javascript">

        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            $('.DDL').css('margin-top', '25px')
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        function hotItems() {
            jQuery.ajax({
                type: "Get",
                url: "@Url.Action("HotItems")",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    {
                        debugger;
                        $('.hotItems').html('');
                        $('.hotItems').css('background-color', 'indianred');
                        var div = $('<div><h2"><b class="text-center">Горещи обяви</b></h4></div>')
                        div.css('margin','10px')
                        $('.hotItems').prepend(div);
                    for (var k in data) {
                        if (data.hasOwnProperty(k)) {
                            var div = $('<div></div>')
                            var a = $("<a></a>");
                            var rows = Number(data.length) / 3;
                            a.attr("href", "/item/ShowItem?itemId=" + data[k].ItemId);
                            var img = $('<img id="theImg" height="200" width="200" src="' + data[k].ImageLocation + '" />');
                            img.css({
                                paddingTop: '20px',
                            })
                            var spanDescription = $("<span><b>" + data[k].Title + "</span>");
                            spanDescription.addClass('descriptionSpan')
                            a.append(img);
                            a.append(spanDescription);
                            div.append(a);
                            div.addClass('col-md-12')
                            div.css({
                                backgroundColor: '#d9d9d9',
                                paddingLeft: '10%'
                            })
                            div.append("<hr />")
                            $('.hotItems').append(div);
                        }
                    }
                    $('#grid > div> a > img').css({
                        padding: '15px'
                    });

                    $('.refreshBtn').click(function () {
                        $('#categoriesDDL').val(''),
                        $('#regionsDDL').val(''),
                        $('#cityDDL').val(''),
                        $.each($('#radioGroup input'), function (index, el) {
                            if ($(el).is(':checked')) {
                                $(el).prop('checked', '');
                            }
                        })
                        $('#myonoffswitch').prop('checked', '')

                        $('#fromValueInput').val(''),
                        $('#toValueInput').val('')
                    });
                }
            },
            failure: function (errMsg) {
                
            }
        })
        }

        function filter(options) {
            var filterOptions = new Array;
            for (var prop in options) {
                filterOptions.push(options[prop]);
            }

            if (options != null) {
                filterOptions = JSON.stringify(options[0])
            }

            jQuery.ajax({
                type: "POST",
                url: "@Url.Action("Filter")",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: filterOptions,
                success: function (data) {
                    {
                        $('#grid').html('');
                        for (var k in data) {
                            if (data.hasOwnProperty(k)) {
                                var div = $('<div></div>')
                                var a = $("<a></a>");
                                var rows = Number(data.length) / 3;
                                a.attr("href", "/item/ShowItem?itemId=" + data[k].ItemId);
                                var img = $('<img id="theImg" height="350" width="350" src="' + data[k].ImageLocation + '" />');
                                var spanDescription = $("<span><b>" + data[k].Title + '<b />: ' + data[k].Description + "</span>");
                                spanDescription.addClass('descriptionSpan')
                                a.append(img);
                                a.append(spanDescription);
                                div.append(a);
                                div.css('background-color', '#d9d9d9')
                                div.addClass('col-md-4')
                                div.css('bckground-color', '#3385ff')
                                $('#grid').prepend(div);
                                $('#grid >div> span').css('position', 'relative')
                            }
                        }

                        if ($('#grid').html() != '') {
                            $('#grid > div> a > span.descriptionSpan').css({
                                position: 'absolute',
                                width: '280px',
                                bottom: '25px',
                                marginLeft: '32px',
                                backgroundColor: "#000",
                                left: '0px',
                                fontSize: '18px',
                                padding: '6px',
                                color: 'white',
                                filter: 'alpha(opacity=70)',
                                opacity: '0.7'
                            });
                        }

                        $('#grid > div> a > img').css({
                            padding: '15px'
                        });

                        $('.refreshBtn').click(function () {
                            $('#categoriesDDL').val('');
                            $('#regionsDDL').val('');
                            $('#cityDDL').val('');
                            $.each($('#radioGroup input'), function (index, el) {
                                if ($(el).is(':checked')) {
                                    $(el).prop('checked', '');
                                }
                            });
                            debugger;
                            $('#myonoffswitch').removeAttr("checked");
                            $('#myonoffswitch').data("changed", "false");
                            $('#inputdefault').val('');
                            $('#fromValueInput').val('');
                            $('#toValueInput').val('');
                        });
                    }
                },
                failure: function (errMsg) {
                
            }
        })
            .then(function () {
                
                $('#myonoffswitch').click(function () {
                    $('#myonoffswitch').data("changed", "true")
                });

                $('#searchBtn').on('click', function () {
                    var size;
                    $.each($('#radioGroup input'), function (index, el) {
                        if ($(el).is(':checked')) {
                            size = $(el).siblings().text();
                        }
                    })
                    var filterOptions = [
                        {
                            CategoryId: $('#categoriesDDL').val(),
                            RegionId: $('#regionsDDL').val(),
                            CityId: $('#cityDDL').val(),
                            LostFound: "",
                            SizeType: size,
                            FromValue: $('#fromValueInput').val(),
                            ToValue: $('#toValueInput').val(),
                            inputValue: $('#inputdefault').val()
                        }
                    ];
                    debugger;
                    var isLost = $('#myonoffswitch').data("changed");
                    if (isLost === "true") {
                        filterOptions[0].LostFound = $('#myonoffswitch').is(":checked").toString();
                    }
                    filter(filterOptions);
                });
            });
        }

        $(document).ready(function () {
            filter();
            hotItems();
        });
    </script>
}
