@model LF.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security



<h4>Влез чрез:</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                Няма намерени социални мрежи. Погледнете <a href="http://go.microsoft.com/fwlink/?LinkId=403804">тази статия</a>
                за повече информация.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        string socialBtnClass = "";
                        if (p.AuthenticationType == "Facebook")
                        {
                            socialBtnClass = "btn-facebook";
                        }
                        else if (p.AuthenticationType == "Google")
                        {
                            socialBtnClass = "btn-google-plus";
                        }
                        <button type="submit" @*class=@socialBtnClass*@ class="btn btn-default"  id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
