@model LF.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security



<h4>Влез чрез:</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                Няма намерени социални мрежи. Погледнете <a href="http://go.microsoft.com/fwlink/?LinkId=403804">тази статия</a>
                за повече информация.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        string socialBtnClass = "";
                        if (p.AuthenticationType == "Facebook")
                        {
                            socialBtnClass = "btn-facebook";
                        }
                        else if (p.AuthenticationType == "Google")
                        {
                            socialBtnClass = "btn-google-plus";
                        }
                        <button type="submit" @*class=@socialBtnClass*@ class="btn btn-default"  id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>

                    }
                </p>
            </div>
        }
    }
}
@{
    @*var google = loginProviders.Where(x => x.Caption == "Google").First();
    var facebook = loginProviders.Where(x => x.Caption == "Facebook").First();

    <a class="btn btn-block btn-social btn-block" id="@google.AuthenticationType" name="provider" value="@google.AuthenticationType" title="Log in using your @google.Caption account">
        <span class="fa fa-google-plus-official fa-4x">@google.AuthenticationType</span>
    </a>
                    <a class="btn btn-block btn-social btn-block" id="@facebook.AuthenticationType" name="provider" value="@facebook.AuthenticationType" title="Log in using your @facebook.Caption account">
                        <span class="fa fa-facebook-official fa-4x">@facebook.AuthenticationType</span>
                    </a>*@
}

